<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyFestivalPlanner</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
        }

        h1 {
            text-align: left;
            margin-left: 10px;
        }

        .button-container {
            position: absolute;
            top: 20px;
            right: 15px;
        }

        .button {
            padding: 10px;
            font-size: 16px;
        }
    </style>
</head>
<body>

    <h1>Defqon 1</h1>

    <div class="button-container">
        <form action="/" method="post">
            <input type="submit" class="button" value="Homepage">
        </form>

        <form action="/defqonfriday" method="post">
            <input type="submit" class="button" value="Friday">
        </form>
    </div>

</body>
</html>
